gcp-project = "project-id"
billing-account = "xxxxx-xxxxxx-xxxxxx"
function-close-billing-on-exceeded-quota-config-json = {
  "XXXXXX-XXXXXX-XXXXXX" : {
    "cutOff" : {
      "all" : true,
      "projects" : [],
      "threshold" : 0.8
    },
    "notifications" : {
      "configSecretManagerPath" :
      "projects/project-id/secrets/notifications-config/versions/latest",
      "threshold" : 0.01
    }
  }
}
